/sites/*/files/
/sites/*/private/
/sites/*/settings.php
cache/
files/
/sites/all/README.txt
/sites/all/modules/README.txt
/sites/all/themes/README.txt
/sites/sites.php

# for non core developer
# only include "sites" folder without exclusions before
/.htaccess
/README.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
/robots.txt
/authorize.php
/cron.php
/index.php
/install.php
/update.php
/web.config
/xmlrpc.php
/includes/
/misc/
/modules/
/profiles/
/scripts/
/themes/
